
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#header {
    background-color:#fff ;
    position: fixed;
    min-width: 100vw;
    height: 90px;
    display: flex;
    z-index: 10;
    /* display: none; */
    box-shadow: rgba(218, 218, 226, 0.25) 0px 5px 5px, 
                rgba(196, 196, 196, 0.25) 0px 8px 16px -8px;
}

.wrap_1{
    width: 18vw;
    height: inherit;
    margin-left: 10px;
    display: flex;
    align-items: center;;
    justify-content: center;    
}

.logo {
    width: 250px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 25px; */
}
.logo img {
    width: 220px;
}

.search_bar {
    /* width: 420px; */
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}
/* 
.search_bar input {
    width: 300px;
    height: 30px;
    outline: none;
    margin-left: 10px;
    background-color: #f3f4ff;
    border: none;
    font-size: 17px;
}

.search_bar #search_btn {
    font-size: 25px;
    margin-left: 10px;
}

.search_bar #search_delbtn{
    font-size: 25px;
    margin-left: 25px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.search{
    position: relative;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    border: solid 1px #5367df;
}

.search .icon_search{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 100;
}

.search .icon_search i {
    font-size: 24px;
}

.search.open{
    width: 510px;
}

.search .input_search {
    position: relative;
    width: 270px;
    height: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.search .input_search input {
    position: absolute;
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 17px;
    /* background-color: #000; */
    margin-left: -25px;
}
.delete_search {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete_search::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 17px;
    background-color: rgb(85, 85, 85);
    transform: rotate(45deg);
}

.delete_search::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 17px;
    background-color: rgb(85, 85, 85);
    transform: rotate(-45deg);
}


.wrap_2{
    width: 72vw;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.nav {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.nav a {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    margin-right: 10px;
    font-size: 19px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.nav a:hover {
    background-color: #f3f4ff;
    font-size: 21px;
}
.wrap_2 >a {
    width: 100px;
    height: 100px;
    background-color: #f3f4ff;
}

.wrap_3 {
    width: 20vw;
    height: inherit;
}

.navigation {
    top:10px;
    right: 20px;
    width: 140px;
    height: 70px;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: width 0.3s, height 0.3s;
    transition-delay: 0.3s, 0s;
    overflow: hidden;
    border-radius: 28px;
    box-shadow: rgba(143, 143, 143, 0.25) 5px 5px 9px, 
                rgba(112, 112, 112, 0.25) 5px 8px 25px -8px,
                rgba(176, 176, 176, 0.25) 3px 8px 16px -8px,
                rgba(176, 176, 176, 0.25) 2px 8px 16px -8px;


}

.navigation.active{
    width: 350px;
    height: 400px;
    transition: height 0.3s, width 0.25s;
    transition-delay: 0.2s, 0s;
}

.navigation .user_box {
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation.active .user_box {
    width: calc(100% - 60px);
    transition-delay: 0s;
 }

.navigation .user_box .user_name {
    white-space: nowrap;
    font-size: 20px;
 }
 

.navigation .user_img_box {
    position: relative;
    min-width: 70px;
    height: 70px;
    /* background-color: black; */
    border-radius: 50%;
    border: solid 12px #fff;
    overflow: hidden;
}


.navigation .user_img_box img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.navigation .menu_toggle {
    width: 70px;
    height: 70px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .menu_toggle::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 2px;
    background-color: black;
    transform: translateY(-10px);
    box-shadow: 0 10px;
    transition: 0.5s;
}
.navigation .menu_toggle::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 2px;
    background-color: black;
    transform: translateY(10px);
    transition: 0.5s;
}


.navigation.active .menu_toggle::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0px rgb(204, 204, 204);
}

.navigation.active .menu_toggle::after {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0px;
}



.menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    margin-top: 70px;
    padding: 1  0px 0px 0px 0px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.menu li {
    list-style: none;
    min-width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 27px;
    cursor: pointer;
}

.menu li:hover {
    background-color:#f3f4ff;
}

.menu li a{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 26px;
}

.space{
    min-width: 100vw;
    height: 100px;  
    background-color: #5367df;
}
.container {
    display: flex;
}

.slide_bar_content {
    width: 16vw;
    height: 90%;
    display: flex;
    justify-content: end;
    position: sticky;
    top: 90px;
    margin-left: 20px;
}

.section_1 {
    /* height: 80vh;   */
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
 
}

.slide_bar_1 {
    width: 240px;
    height: 70px;
    margin-top: 10px;
    overflow: hidden;
    transition: 0.4s;
}

.slide_bar_1.act{
    width: 240px;
    height: 400px;

}

.slide_bar_1.act .software {
    background-color: #e7e9ff;
}

.software {
    width: 240px;
    height: 70px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 0.4;
    cursor: pointer;
}
.software:hover {
    background: #e7e9ff;
}

.software i {
    font-size: 40px;
    color: #5367df;
    margin-left: 25px;
    margin-right: 5px;
}

.list_software {
    width: 240px;
    height: 300px;
    padding: 20px;

}

.list_software ul li {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-left: 42px;
    align-items: center;
    color: #686b9d;
}


.list_software ul li a {
    text-decoration: none;
    color: #686b9d;
}

.software .text_a {
    color: #5367df;
    text-decoration: none;
    font-size: 20px;
    pointer-events: none;
    margin-left: 20px;
}

.slide_bar_2{
    width: 240px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.slide_bar_2:hover {
    background: #e7e9ff;
}

.games {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamepad_box {
    width: 50px;
    height: 40px;   
    transform: translateX(-40px);
}

span a {
    text-decoration: none;
    font-size: 20px;
    color: #5367df;
}

.slide_img {
    width: 240px;
    height: 350px;
    background-color: #59eb74;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

.slide_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.gamepad_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_2 {
    width: 84vw;
    height: initial;
}

.main_content_container {
    position: relative;
    width: inherit;
    height: inherit;
}

.main_content {
    margin-top: 100px;
    width: 96%;
    height: inherit;
    background-color: #f3f4ff;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;

}

.slide_content {
    margin-top: 30px;
    width: 95%;
    height: 340px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}




/* Phần slide */

.slide_main{
    width: 68%;
    height: inherit;
    border-radius: 25px;
    /* border: solid 3px black; */
    overflow: hidden;
}

.slide_run{
    width: 100%;
    height: 100%;
    /* background-color: dimgrey; */
    border-radius: 25px;
    overflow: hidden;
}

.slide_box {
    position: relative;
    width: 100%;
    height: 340px;
    background:  rgba(116, 113, 233, 1);
    /* border-radius: 25px; */
}
.slide_box_text {
    width: 60%;
    height: 70%;
    /* background:#5367df; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 10px;
    z-index: 10;
    position: relative;

}
.slide_box_text h2 {
    font-size: 40px;
    color: #fff;
}
.slide_box_text span {
    font-size: 20px;
    color: #fff;
    opacity: 0.7;
}

.slide_box_img {
    width: 450px;
    /* background: #59eb74; */
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:end;
}
.slide_box_img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.tns-nav {
    width: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-40px);
}
.tns-nav button {
    border: none;
    background: #eaebffbc;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 50%;
}
.tns-nav .tns-nav-active {
    background: rgb(255, 255, 255);
} 


/* phần slide */
.slide_2{
    position: relative;
    width: 30%;
    height: inherit;
    background-color: hsl(332, 100%, 81%) ;
    border-radius: 25px;
}

.slide_2 .img_add_box{
    position: absolute;
    width: 260px;
    height: 250px;
    right: 0;
    bottom: 0;
}

.slide_2 .img_add_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.slide_2 .text_1 {
    width: 300px;
    height: 100px;
}

.slide_2 .text_1 >h1 {
    font-size: 40px;
}

.slide_2 .text_box {
    width: 300px;
    height: 130px;
    margin-top: 40px;
    margin-left: 25px;
}

/* .slide_2 .text_box .a_text1 {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
} */

.slide_2 .text_box .a_text1 a {
    text-decoration: none;
    color: #5367df;
}

.update_content {
    width: 95%;
    height: 550px;
    margin-top: 40px;
}

.update_line {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px 0px 15px 0px;
}

.update_line h2 {
    font-size: 40px;
    color: #000;
}

.update_line a {
    font-size: 20px;
    color: #5367df;
    text-decoration: none;
}
/* 
.content_updated {
    width: 100%;
    height: 80%;
    background: #fff;
    border-radius: 25px;
} */

.content_updated {
    width: 100%;
    height: 80%;
    display: grid;
    background-color: #fff;
    grid-template-columns: auto auto auto;
    grid-template-rows: 33% 33% 33%;
    padding: 30px;
    border-radius: 25px;
}

.content {
    width: 95%;
    height: 95%;
    /* background-color: #59eb74; */
    /* border: solid 1px black; */
    /* margin-right: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.content .appList {
    width:100%;
    height: 75%;
    display: flex;
}

.content .appList .app_icon {
    width: 20%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .appList .app_icon .app_icon_box {
    width: 90px;
    height: 90%;
    /* background: #e7e9ff; */
    position: relative;
}


.content .appList .app_icon .app_icon_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.content .appList .app_infor {
    width: 60%;
    height: 100%;
    /* background: burlywood; */
}

.content .appList .detail {
    width: 25%;
    height: 92%;
    /* background: rgb(230, 146, 43); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .appList .detail a {
    width: 85%;
    height: 50%;
    background: #fff;
    border-radius: 15px;
    color: #5367df;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #5367df;
    font-weight: bold;
    transition: 0.1s;
}

.content .appList .detail a:hover {
    background: #eaedff;
    transform: scale(1.03);
}

.content .appList .detail span {
    width: 85%;
    height: 50%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    opacity: 0.5;
}

.content .appList .app_infor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}



.content .appList .app_infor h4 {
    font-size: 20px;
    font-weight: bold;
}


.content .appList .app_infor span {
    font-size: 16px;
    opacity: 0.5;
}

#opacityText{
    opacity: 0.7;
    color: rgb(52, 52, 52);
}

.update_content_1{
    width: 95%;
    height: 700px;
    margin-top: 40px;
    background-color: aquamarine;
    border-radius: 25px;
}


.error_software {
    width: 95%;
    height: 500px;
    margin-top: 40px;
    border-radius: 25px;
    background: rgb(198, 253, 116);
}

.new_game{
    width: 95%;
    height: 700px;
    margin-top: 40px;
    border-radius: 25px;
    background: rgb(16, 136, 200);
}
.addition_game  {

    width: 95%;
    height: 500px;
    margin-top: 40px;
    border-radius: 25px;
    background: rgb(198, 14, 226); 
}

.contact {
    color: blue;
    transform: translateY(30px);
}